<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhxx.mapper.ArticlesMapper">
  <resultMap id="BaseResultMap" type="com.xhxx.pojo.Articles">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="origin" jdbcType="VARCHAR" property="origin" />
    <result column="originUrl" jdbcType="VARCHAR" property="originurl" />
    <result column="timestamp" jdbcType="TIMESTAMP" property="timestamp" />
    <result column="category1" jdbcType="INTEGER" property="category1" />
    <result column="category2" jdbcType="INTEGER" property="category2" />
    <result column="category3" jdbcType="INTEGER" property="category3" />
    <result column="image1" jdbcType="VARCHAR" property="image1" />
    <result column="image2" jdbcType="VARCHAR" property="image2" />
    <result column="image3" jdbcType="VARCHAR" property="image3" />
    <result column="imageCount" jdbcType="INTEGER" property="imagecount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="addTime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="readNum" jdbcType="INTEGER" property="readnum" />
    <result column="praiseNum" jdbcType="INTEGER" property="praisenum" />
    <result column="commentNum" jdbcType="INTEGER" property="commentnum" />
    <result column="lastOperateTime" jdbcType="TIMESTAMP" property="lastoperatetime" />
    <result column="lastOperator" jdbcType="VARCHAR" property="lastoperator" />
<!--
    <result column="from" jdbcType="INTEGER" property="from" />
-->
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xhxx.pojo.Articles">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, title, tags, description, author, origin, originUrl, timestamp, category1, category2, 
    category3, image1, image2, image3, imageCount, status, addTime, readNum, praiseNum, 
    commentNum, lastOperateTime, lastOperator
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.xhxx.pojo.ArticlesExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from articles
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.xhxx.pojo.ArticlesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from articles
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from articles
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from articles
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xhxx.pojo.ArticlesExample">
    delete from articles
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xhxx.pojo.Articles">
    insert into articles (id, title, tags, 
      description, author, origin, 
      originUrl, timestamp, category1, 
      category2, category3, image1, 
      image2, image3, imageCount, 
      status, addTime, readNum, 
      praiseNum, commentNum, lastOperateTime, 
      lastOperator, content
      )
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{tags,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, #{origin,jdbcType=VARCHAR}, 
      #{originurl,jdbcType=VARCHAR}, #{timestamp,jdbcType=TIMESTAMP}, #{category1,jdbcType=INTEGER}, 
      #{category2,jdbcType=INTEGER}, #{category3,jdbcType=INTEGER}, #{image1,jdbcType=VARCHAR}, 
      #{image2,jdbcType=VARCHAR}, #{image3,jdbcType=VARCHAR}, #{imagecount,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{addtime,jdbcType=TIMESTAMP}, #{readnum,jdbcType=INTEGER}, 
      #{praisenum,jdbcType=INTEGER}, #{commentnum,jdbcType=INTEGER}, #{lastoperatetime,jdbcType=TIMESTAMP}, 
      #{lastoperator,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xhxx.pojo.Articles">
    insert into articles
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="tags != null">
        tags,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="origin != null">
        origin,
      </if>
      <if test="originurl != null">
        originUrl,
      </if>
      <if test="timestamp != null">
        timestamp,
      </if>
      <if test="category1 != null">
        category1,
      </if>
      <if test="category2 != null">
        category2,
      </if>
      <if test="category3 != null">
        category3,
      </if>
      <if test="image1 != null">
        image1,
      </if>
      <if test="image2 != null">
        image2,
      </if>
      <if test="image3 != null">
        image3,
      </if>
      <if test="imagecount != null">
        imageCount,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="addtime != null">
        addTime,
      </if>
      <if test="readnum != null">
        readNum,
      </if>
      <if test="praisenum != null">
        praiseNum,
      </if>
      <if test="commentnum != null">
        commentNum,
      </if>
      <if test="lastoperatetime != null">
        lastOperateTime,
      </if>
      <if test="lastoperator != null">
        lastOperator,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="tags != null">
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="origin != null">
        #{origin,jdbcType=VARCHAR},
      </if>
      <if test="originurl != null">
        #{originurl,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null">
        #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="category1 != null">
        #{category1,jdbcType=INTEGER},
      </if>
      <if test="category2 != null">
        #{category2,jdbcType=INTEGER},
      </if>
      <if test="category3 != null">
        #{category3,jdbcType=INTEGER},
      </if>
      <if test="image1 != null">
        #{image1,jdbcType=VARCHAR},
      </if>
      <if test="image2 != null">
        #{image2,jdbcType=VARCHAR},
      </if>
      <if test="image3 != null">
        #{image3,jdbcType=VARCHAR},
      </if>
      <if test="imagecount != null">
        #{imagecount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="readnum != null">
        #{readnum,jdbcType=INTEGER},
      </if>
      <if test="praisenum != null">
        #{praisenum,jdbcType=INTEGER},
      </if>
      <if test="commentnum != null">
        #{commentnum,jdbcType=INTEGER},
      </if>
      <if test="lastoperatetime != null">
        #{lastoperatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastoperator != null">
        #{lastoperator,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xhxx.pojo.ArticlesExample" resultType="java.lang.Long">
    select count(*) from articles
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update articles
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.tags != null">
        tags = #{record.tags,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null">
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.origin != null">
        origin = #{record.origin,jdbcType=VARCHAR},
      </if>
      <if test="record.originurl != null">
        originUrl = #{record.originurl,jdbcType=VARCHAR},
      </if>
      <if test="record.timestamp != null">
        timestamp = #{record.timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.category1 != null">
        category1 = #{record.category1,jdbcType=INTEGER},
      </if>
      <if test="record.category2 != null">
        category2 = #{record.category2,jdbcType=INTEGER},
      </if>
      <if test="record.category3 != null">
        category3 = #{record.category3,jdbcType=INTEGER},
      </if>
      <if test="record.image1 != null">
        image1 = #{record.image1,jdbcType=VARCHAR},
      </if>
      <if test="record.image2 != null">
        image2 = #{record.image2,jdbcType=VARCHAR},
      </if>
      <if test="record.image3 != null">
        image3 = #{record.image3,jdbcType=VARCHAR},
      </if>
      <if test="record.imagecount != null">
        imageCount = #{record.imagecount,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.addtime != null">
        addTime = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.readnum != null">
        readNum = #{record.readnum,jdbcType=INTEGER},
      </if>
      <if test="record.praisenum != null">
        praiseNum = #{record.praisenum,jdbcType=INTEGER},
      </if>
      <if test="record.commentnum != null">
        commentNum = #{record.commentnum,jdbcType=INTEGER},
      </if>
      <if test="record.lastoperatetime != null">
        lastOperateTime = #{record.lastoperatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastoperator != null">
        lastOperator = #{record.lastoperator,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update articles
    set id = #{record.id,jdbcType=BIGINT},
      title = #{record.title,jdbcType=VARCHAR},
      tags = #{record.tags,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      origin = #{record.origin,jdbcType=VARCHAR},
      originUrl = #{record.originurl,jdbcType=VARCHAR},
      timestamp = #{record.timestamp,jdbcType=TIMESTAMP},
      category1 = #{record.category1,jdbcType=INTEGER},
      category2 = #{record.category2,jdbcType=INTEGER},
      category3 = #{record.category3,jdbcType=INTEGER},
      image1 = #{record.image1,jdbcType=VARCHAR},
      image2 = #{record.image2,jdbcType=VARCHAR},
      image3 = #{record.image3,jdbcType=VARCHAR},
      imageCount = #{record.imagecount,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      addTime = #{record.addtime,jdbcType=TIMESTAMP},
      readNum = #{record.readnum,jdbcType=INTEGER},
      praiseNum = #{record.praisenum,jdbcType=INTEGER},
      commentNum = #{record.commentnum,jdbcType=INTEGER},
      lastOperateTime = #{record.lastoperatetime,jdbcType=TIMESTAMP},
      lastOperator = #{record.lastoperator,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update articles
    set id = #{record.id,jdbcType=BIGINT},
      title = #{record.title,jdbcType=VARCHAR},
      tags = #{record.tags,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      origin = #{record.origin,jdbcType=VARCHAR},
      originUrl = #{record.originurl,jdbcType=VARCHAR},
      timestamp = #{record.timestamp,jdbcType=TIMESTAMP},
      category1 = #{record.category1,jdbcType=INTEGER},
      category2 = #{record.category2,jdbcType=INTEGER},
      category3 = #{record.category3,jdbcType=INTEGER},
      image1 = #{record.image1,jdbcType=VARCHAR},
      image2 = #{record.image2,jdbcType=VARCHAR},
      image3 = #{record.image3,jdbcType=VARCHAR},
      imageCount = #{record.imagecount,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      addTime = #{record.addtime,jdbcType=TIMESTAMP},
      readNum = #{record.readnum,jdbcType=INTEGER},
      praiseNum = #{record.praisenum,jdbcType=INTEGER},
      commentNum = #{record.commentnum,jdbcType=INTEGER},
      lastOperateTime = #{record.lastoperatetime,jdbcType=TIMESTAMP},
      lastOperator = #{record.lastoperator,jdbcType=VARCHAR},
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xhxx.pojo.Articles">
    update articles
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="tags != null">
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="origin != null">
        origin = #{origin,jdbcType=VARCHAR},
      </if>
      <if test="originurl != null">
        originUrl = #{originurl,jdbcType=VARCHAR},
      </if>
      <if test="timestamp != null">
        timestamp = #{timestamp,jdbcType=TIMESTAMP},
      </if>
      <if test="category1 != null">
        category1 = #{category1,jdbcType=INTEGER},
      </if>
      <if test="category2 != null">
        category2 = #{category2,jdbcType=INTEGER},
      </if>
      <if test="category3 != null">
        category3 = #{category3,jdbcType=INTEGER},
      </if>
      <if test="image1 != null">
        image1 = #{image1,jdbcType=VARCHAR},
      </if>
      <if test="image2 != null">
        image2 = #{image2,jdbcType=VARCHAR},
      </if>
      <if test="image3 != null">
        image3 = #{image3,jdbcType=VARCHAR},
      </if>
      <if test="imagecount != null">
        imageCount = #{imagecount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="addtime != null">
        addTime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="readnum != null">
        readNum = #{readnum,jdbcType=INTEGER},
      </if>
      <if test="praisenum != null">
        praiseNum = #{praisenum,jdbcType=INTEGER},
      </if>
      <if test="commentnum != null">
        commentNum = #{commentnum,jdbcType=INTEGER},
      </if>
      <if test="lastoperatetime != null">
        lastOperateTime = #{lastoperatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastoperator != null">
        lastOperator = #{lastoperator,jdbcType=VARCHAR},
      </if>

      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xhxx.pojo.Articles">
    update articles
    set title = #{title,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      origin = #{origin,jdbcType=VARCHAR},
      originUrl = #{originurl,jdbcType=VARCHAR},
      timestamp = #{timestamp,jdbcType=TIMESTAMP},
      category1 = #{category1,jdbcType=INTEGER},
      category2 = #{category2,jdbcType=INTEGER},
      category3 = #{category3,jdbcType=INTEGER},
      image1 = #{image1,jdbcType=VARCHAR},
      image2 = #{image2,jdbcType=VARCHAR},
      image3 = #{image3,jdbcType=VARCHAR},
      imageCount = #{imagecount,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      addTime = #{addtime,jdbcType=TIMESTAMP},
      readNum = #{readnum,jdbcType=INTEGER},
      praiseNum = #{praisenum,jdbcType=INTEGER},
      commentNum = #{commentnum,jdbcType=INTEGER},
      lastOperateTime = #{lastoperatetime,jdbcType=TIMESTAMP},
      lastOperator = #{lastoperator,jdbcType=VARCHAR},
      from = #{from,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xhxx.pojo.Articles">
    update articles
    set title = #{title,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      origin = #{origin,jdbcType=VARCHAR},
      originUrl = #{originurl,jdbcType=VARCHAR},
      timestamp = #{timestamp,jdbcType=TIMESTAMP},
      category1 = #{category1,jdbcType=INTEGER},
      category2 = #{category2,jdbcType=INTEGER},
      category3 = #{category3,jdbcType=INTEGER},
      image1 = #{image1,jdbcType=VARCHAR},
      image2 = #{image2,jdbcType=VARCHAR},
      image3 = #{image3,jdbcType=VARCHAR},
      imageCount = #{imagecount,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      addTime = #{addtime,jdbcType=TIMESTAMP},
      readNum = #{readnum,jdbcType=INTEGER},
      praiseNum = #{praisenum,jdbcType=INTEGER},
      commentNum = #{commentnum,jdbcType=INTEGER},
      lastOperateTime = #{lastoperatetime,jdbcType=TIMESTAMP},
      lastOperator = #{lastoperator,jdbcType=VARCHAR},
      from = #{from,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>